
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

nav {
  background: #72ee5f;
  padding: 10px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  
}

.brand {
  font-size: 30px;
  color: black;
  font-weight: bold;
}

.topic {
  font-size: 30px;
  color: black;
  font-weight: bold;
  
}

button {
  background: #0a0a23;
  color: white;
  font-size: 15px;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.container {
  max-width: 900px;
  margin: 20px auto;
  padding: 0 20px;
}

.loader {
  text-align: center;
  font-size: 18px;
  margin-top: 40px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: #f7dede;
  padding: 14px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 11px;
}

.card img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.card h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.card p {
  color: #505050;
}
